<header class="mainNav">

    <span id="mainbtn" onclick="openNav()"> &#9776;</span>


    <div class="logo">

        <img class="icon" src="./svg/icon.jpg" alt="">
    </div>
    <div class="coll animate__animated animate__zoomInDown">
        <div class="iconName">
            <span>Greivin Mayorga </span>
            <li class="fas fa-laptop-code" aria-hidden="true"></li>
            <br>
            <b class="devs">Desarrollador web</b </div>
        </div>

    </div>

    <div>

        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="#">Inicio</a>
            <a href="#proyect">Proyectos</a>
            <a href="#tg">Tecnologías</a>
            <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"
                data-bs-whatever="UsuarioName">Contactar</a>
        </div>


    </div>




</header>

<div class="saludo">
    <div class="icons_W rot">    
        <a target="_blank" href="https://wa.link/713djw">
            <span class="fa fa-whatsapp"></span>
        
        </a>
    </div>



    <div class=" contSaludo">

        <section class="text animate__animated animate__backInUp">


            <h2 class="titulo">¡Bienvenido a mi página!</h2>

            <p>
                Soy Fron-End, Back-End, programador con dos años de experincia
                Full-Stack en tecnologias como JavaScript, Css, HTML, Nodejs, Reactjs
                Python, Flasks, DjAngo y Bases de datos como MySQL, Mongodb.
            </p>

        </section>


    </div>

</div>


{{> projects}}

{{> tecnologia}}

{{> certificados}}

<div class="contact-all" id="ct">
    <h3 class="contactH3 titulo">Contactar</h3>
    <div class="correo">

        <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">estudiosrg5@gmail.com</a><a></a>
    </div>

    <footer>
        <div class="iconsCT">
            <a target="_blank" href="https://www.facebook.com/greivin.mayorga.5"><i class="fab fa-facebook"></i></a>
            <a href="https://www.instagram.com/Greivin_mayorga/" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="https://www.linkedin.com/in/inform%C3%A1tica-y-mas-02066a252/" target="_blank"><i class="fab fa-linkedin"></i></a>
            <a href="https://github.com/anonymous-sys19" target="_blank"><i class="fab fa-github"></i></a>

        </div>
    </footer>



    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" id="modal">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Contactame</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="/json" method="post" id="form">
                    <div class="modal-body" id="fm2">
                        <div>
                            <div class="mb-3">
                                <label for="recipient-name" class="col-form-label">Nombre</label>
                                <input type="text" class="form-control" id="recipient-name" name="name">
                            </div>
                            <div class="mb-3">
                                <label for="recipient-name" class="col-form-label">Correo electronico</label>
                                <input type="email" class="form-control" id="recipient-name" name="email">
                            </div>
                            <div class="mb-3">
                                <label for="recipient-name" class="col-form-label">Phone</label>

                                <input type="tel" class="form-control" id="recipient-name" name="phone">
                            </div>
                            <div class="mb-3">
                                <label for="message-text" class="col-form-label">Message:</label>
                                <textarea class="form-control" id="message-text" name="message"></textarea>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Send message</button>
                    </div>
                </form>
            </div>
        </div>
    </div>



</div>