<header id="header" class="mainNav">
 {{!-- <input id="mainbtn" onclick="openNav()" value="&#9776;">
    <label for="">&times;</label> --}}
   
    <input type="checkbox" id="menu-bar">
    <label id="menu-bar" for="menu-bar" class="fa fa-bars"></label>


    <div class="logo">

        <img class="icon" src="./svg/icon.jpg" alt="">
    </div>
    <div class="coll animate__animated animate__zoomInDown contIcon">
        <div class="iconName">
            <span>Greivin Mayorga </span>
            <li class="fas fa-laptop-code" aria-hidden="true"></li>
            {{!--  --}}
                <div class="group duration-500 hover:-skew-x-0 skew-x-6 hover:translate-x-2">
                <div class="group-hover:duration-400 relative rounded-2xl w-72 h-36 bg-zinc-800 text-gray-50 flex flex-col justify-center items-center gap-1 before:-skew-x-12  before:rounded-2xl  before:absolute before:content['']  before:bg-neutral-700 before:right-3 before:top-0 before:w-72 before:h-32 before:-z-10">
                    <span class="text-5xl font-bold">Jr</span>
                    <p class="text-amber-300 font-thin">- Frontend Developer -</p>
                </div>
                </div>
            {{!--  --}}
        </div>

    </div>


{{!-- Init CV --}}
    <div class="cv-list">
       <button class="download-button">
            <div class="docs"><svg class="css-i6dzq1" stroke-linejoin="round" stroke-linecap="round" fill="none" stroke-width="2" stroke="currentColor" height="20" width="20" viewBox="0 0 24 24"><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path><polyline points="14 2 14 8 20 8"></polyline><line y2="13" x2="8" y1="13" x1="16"></line><line y2="17" x2="8" y1="17" x1="16"></line><polyline points="10 9 9 9 8 9"></polyline></svg> Docs</div>
            <div class="download">
            <svg class="css-i6dzq1" stroke-linejoin="round" stroke-linecap="round" fill="none" stroke-width="2" stroke="currentColor" height="24" width="24" viewBox="0 0 24 24"><path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path><polyline points="7 10 12 15 17 10"></polyline><line y2="3" x2="12" y1="15" x1="12"></line></svg>
        </button>
  </div>


   

        <nav class="navbar" id="nav">
            
            <a href="#">Inicio</a>
            <a href="#proyect">Proyectos</a>
            <a href="#tg">Tecnologías</a>
            <a href="#cert">Certificados</a>
            <a href="" data-bs-toggle="modal" data-bs-target="#exampleModal"
                data-bs-whatever="UsuarioName">Contactar</a>
           
        </nav>

</header>

<div class="saludo">
    <div class="icons_W rot">    
        <a target="_blank" href="https://wa.link/713djw">
            <span class="fa fa-whatsapp"></span>
        
        </a>
    </div>



    <div class=" contSaludo">

        <div class="text animate__animated animate__backInUp">


            <h2 class="titulo">¡Bienvenido a mi página!</h2>

            <p>
                Soy Front-End, Back-End, programador con dos años de experincia
                Full-Stack en tecnologias como JavaScript, Css, HTML, Nodejs, Reactjs,
                Python, Flasks, DjAngo y Bases de datos como MySQL, Mongodb y PostgreSQL.
            </p>

        </div>




    </div>

    
      {{!-- Console edigt --}}
<div id="cardT" class="cardT">
  <div class="contentT">
    <div class="card-bodyT">
      <div class="code-containerT float-animationT">
        <span class="lineT"><span class="code-commentT">// Código de ejemplo</span></span>
        <span class="lineT"><span class="code-keywordT">function</span> <span class="code-functionT">example</span>()</span>
        <span class="lineT">{</span>
        <span class="lineT indentT"><span class="code-keywordT">let</span> <span class="code-variableT">message</span> = <span class="code-stringT">"Hello, World!"</span>;</span>
        <span class="lineT indentT"><span class="code-built-inT">console</span>.<span class="code-methodT">log</span>(<span class="code-variableT">message</span>);</span>
        <span class="lineT">}</span>
      </div>
    </div>
  </div>
</div>

</div>


{{> projects}}

{{> tecnologia}}
<section class="cert" id="cert">
{{> certificados}}
</section>

<div class="contact-all" id="ct">
    <h3 class="contactH3 titulo">Contactar</h3>
    <div class="correo">

        <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">estudiosrg5@gmail.com</a><a></a>
    </div>

    <footer>
        <div class="iconsCT">
            <a target="_blank" href="https://www.facebook.com/greivin.mayorga.5"><i class="fab fa-facebook"></i></a>
            <a href="https://www.instagram.com/Greivin_mayorga/" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="https://www.linkedin.com/in/inform%C3%A1tica-y-mas-02066a252/" target="_blank"><i class="fab fa-linkedin"></i></a>
            <a href="https://github.com/anonymous-sys19" target="_blank"><i class="fab fa-github"></i></a>

        </div>
    </footer>



    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" id="modal">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Contactame</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="/json" method="post" id="form">
                    <div class="modal-body" id="fm2">
                        <div>
                            <div class="mb-3">
                                <label for="recipient-name" class="col-form-label">Nombre</label>
                                <input type="text" class="form-control" id="recipient-name" name="name">
                            </div>
                            <div class="mb-3">
                                <label for="recipient-name" class="col-form-label">Correo electronico</label>
                                <input type="email" class="form-control" id="recipient-name" name="email">
                            </div>
                            <div class="mb-3">
                                <label for="recipient-name" class="col-form-label">Phone</label>

                                <input type="tel" class="form-control" id="recipient-name" name="phone">
                            </div>
                            <div class="mb-3">
                                <label for="message-text" class="col-form-label">Message:</label>
                                <textarea class="form-control" id="message-text" name="message"></textarea>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Send message</button>
                    </div>
                </form>
            </div>
        </div>
    </div>



</div>