@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@700&display=swap");
:root {
    /* Colors */
    --brand-color: hsl(46, 100%, 50%);
    --black: hsl(0, 0%, 0%);
    --white: hsl(0, 0%, 100%);
    /* Fonts */
    --font-title: "Montserrat", sans-serif;
    --font-text: "Lato", sans-serif;


    --Title: #ffffff;
    --greenI: chartreuse;
    --bgTitle: linear-gradient(to right, #409eff 0%, #66d58a 100%);
    --font: #00ebaa;
    --font-title: #37eb9a;
    --skyblue: #00bfff;
}
.proyectos{
  display: flex;
  flex-wrap: wrap;
}




.proyects-title {
  text-align: center;
  font-family: 'Playfair Display', serif;
  /* padding: 1rem; */
  color: var(--Title);
  margin: 1rem auto;

}

.card {
  position: relative;
  width: 250px;
  height: 250px;
  color: #2e2d31;
  background: #131313;
  overflow: hidden;
  border-radius: 20px;
  flex: 1 1 260px;
}

.temporary_text {
  font-weight: bold;
  font-size: 24px;
  padding: 6px 12px;
  color: #f8f8f8;
}

.card_title {
  font-weight: bold;
}

.card_content {
  position: absolute;
  left: 0;
  bottom: 0;
    /* edit the width to fit card */
  width: 100%;
  padding: 20px;
  background: #11141a;
  border-top-left-radius: 20px;
    /* edit here to change the height of the content box */
  transform: translateY(150px);
  transition: transform .25s;
}

.card_content::before {
  content: '';
  position: absolute;
  top: -47px;
  right: -45px;
  width: 100px;
  height: 100px;
  transform: rotate(-175deg);
  border-radius: 50%;
  box-shadow: inset 48px 48px #f2f2f2;
}

.card_title {
  color: var(--Title);
  line-height: 15px;
}

.card_subtitle {
  display: block;
  font-size: 12px;
  margin-bottom: 10px;
  color: var(--font);
}

.card_description {
  font-size: 14px;
  opacity: 0;
  transition: opacity .5s;
  color: var(--skyblue);
}

.card:hover .card_content {
  transform: translateY(0);
}

.card:hover .card_description {
  opacity: 1;
  transition-delay: .25s;
}





@media screen and (max-width: 800px) {
    
}