@import url('./css/style.css/:root');





.proyects-title {
    text-align: center;
    font-family: 'Playfair Display', serif;
    /* padding: 1rem; */
    color: var(--Title);
    margin: 1rem auto;

}





@media only screen and (max-width: 700px) {
  
 

   


   
}

@media only screen and (max-width: 500px) {
   
}