.tecnologiess h2 {
  text-align: center;
  justify-content: center;
  margin: 2rem auto;
  color: var(--Title);
  font-family: 'Playfair Display', serif;
  
}
.tecnologiess{
  background: #0000001e;
}

.card__tags{
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: -webkit-fill-available;
  height: auto;
  /* background: #ecf39e; */
  background: #0000001e;
  padding: 10px;
  display: flex;
  /* flex-wrap: inherit; */
  color: #31572c;
  border-radius: 15px;
  box-shadow: -20px 20px 0px -5px #363a58;
  margin: 4rem auto;
  justify-content: center;
}

.title {
  font-weight: 900;
  font-size: 1.7em;
}

.tag__name {
  display: inline-block;
  color: #fff;
  font-size: 1.1em;
  background-color: #3c684a;
  padding: 6px 23px 9px;
  border-radius: 70em;
  margin: 8px 6px 8px 0;
  margin-left: 0px;
  position: relative;
  text-transform: lowercase;
  cursor: pointer;
  transition: all .3s ease-in-out;
  -webkit-border-radius: 70em;
  -moz-border-radius: 70em;
  -ms-border-radius: 70em;
  -o-border-radius: 70em;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
}

.tag__name::before,
.tag__name::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 40%;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #90a955;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.tag__name::before {
  left: 7px;
}

.tag__name::after {
  right: 7px;
}

.tag__name:hover {
  transform: scale(1.1);
  background-color: #363a58;
}

/*  */

.contenido-code div {
  max-width: 100%;
  max-height: fit-content;
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(1, minmax(90px, 2fr));
  justify-items: center;
  margin: 0.3rem;
}

.contenido-code div svg {
  max-width: none;
  height: 50px;
  display: flex;
  text-align: center;
  /* justify-content: center; */
  /* align-items: center; */
  margin: auto;
}

.contenido-code .icon li {
  color: var(--font);
  font: menu;
  list-style-type: disclosure-closed;
  padding: 1rem 0 1rem 0;
}

.btn-secondary {
  --bs-btn-bg: #000000;
}



.card {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
}



.body {
  padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.skill {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.skill-name {
  width: 120px;
  font-size: 16px;
}

.skill-level {
  width: 160px;
  height: 10px;
  background-color: #eee;
  border-radius: 10px;
  overflow: hidden;
  margin-left: 20px;
}

.skill-percent {
  background-color: #333;
  height: 100%;
}

.skill-percent-number {
  margin-left: 20px;
  font-size: 16px;
}