<section class="cert">
  <h2 class="titulo">Certificados</h2>

  <div class="cert-div">
    <div class="certificado">
      <img  src="./CERT/cert-py.png" alt="" />
      
    </div>
    <div class="certificado">
      <img src="./CERT/cert-sql.png" alt="" />
      
    </div>
    <div class="certificado">
      <img src="./CERT/cert-g.png" alt="" />
      
    </div>
    <div class="certificado">
      <img src="./CERT/cert-react.png" alt="" />
      
    </div>
    <div class="certificado">
      <img src="./CERT/cert-udemy.png" alt="" />
      
    </div>
  </div>
</section>

