<div id="proyect">
  <h2 class="proyects-title titulo">
    Proyectos
  </h2>
  <div class="proyectos">
    {{! End new section  }}
    <div class="card">
      <div class="temporary_text">
        <img src="./svg/crudphp.png" alt="" />
      </div>
      <div class="card_content">
        <span class="card_title">
          This is a Title
        </span>
        <span class="card_subtitle">
          Thsi is a subtitle of this page. Let us see
          how it looks on the Web.
        </span>
        <p class="card_description">
          Formulario de datos y almacenamiento en Base
          de Datos, Desarrollado en PHP, MySQL, CSS, JavaScript
        </p>
      </div>
    </div>
    {{!  }}
    <div class="card">
      <div class="temporary_text">
        <img src="./svg/maps.png" alt="" />
      </div>
      <div class="card_content">
        <span class="card_title">
          This is a Title
        </span>
        <span class="card_subtitle">
          Thsi is a subtitle of this page. Let us see
          how it looks on the Web.
        </span>
        <p class="card_description">
          Gestor de Mapas en diferentes formatos, .pdf, .xlsx, Desarrollado en
          HTML, CSS, JavaScript y Modulos
        </p>
      </div>
    </div>
    {{!  }}
    <div class="card">
      <div class="temporary_text">
        <img src="./svg/pcs.png" alt="" />
      </div>
      <div class="card_content">
        <span class="card_title">
          This is a Title
        </span>
        <span class="card_subtitle">
          Thsi is a subtitle of this page. Let us see
          how it looks on the Web.
        </span>
        <p class="card_description">
          Gestor de datos Pica de Matas Desarrollado en HTML, CSS, JavaScript
          Capas de convertir los datos a diferentes formatos descargables
        </p>
      </div>
    </div>
    {{!  }}
    <div class="card">
      <div class="temporary_text">
        <img src="./svg/tbl.png" alt="" />
      </div>
      <div class="card_content">
        <span class="card_title">
          This is a Title
        </span>
        <span class="card_subtitle">
          Thsi is a subtitle of this page. Let us see
          how it looks on the Web.
        </span>
        <p class="card_description">
          Tabla de datos y almacenamiento en Base de Datos, Desarrollado en
            PHP, MySQL, CSS, JavaScript
        </p>
      </div>
    </div>

    {{!  }}
  </div>
</div>