<div class="tecnologiess" style="height: -webkit-fill-available" id="tg">
  <h2 class="title">
    Tecnologias
  </h2>

  <div class="tecnologies">
    <div class="card">
      <div class="body">
        <div class="skill">
          <div class="skill-name">
            HTML
          </div>
          <div class="skill-level">
            <div class="skill-percent" style="width: 90%"></div>
          </div>
          <div class="skill-percent-number">
            90%
          </div>
        </div>
        <div class="skill">
          <div class="skill-name">
            CSS
          </div>
          <div class="skill-level">
            <div class="skill-percent" style="width: 80%"></div>
          </div>
          <div class="skill-percent-number">
            80%
          </div>
        </div>
        <div class="skill">
          <div class="skill-name">
            JavaScript
          </div>
          <div class="skill-level">
            <div class="skill-percent" style="width: 75%"></div>
          </div>
          <div class="skill-percent-number">
            75%
          </div>
        </div>

        <div class="skill">
          <div class="skill-name">
            Reactjs
          </div>
          <div class="skill-level">
            <div class="skill-percent" style="width: 75%"></div>
          </div>
          <div class="skill-percent-number">
            65%
          </div>
        </div>
        {{!  }}
        <div class="skill">
          <div class="skill-name">
            Nodejs
          </div>
          <div class="skill-level">
            <div class="skill-percent" style="width: 75%"></div>
          </div>
          <div class="skill-percent-number">
            90%
          </div>
        </div>
         {{!  }}
          <div class="skill">
            <div class="skill-name">
              PHP
            </div>
            <div class="skill-level">
              <div class="skill-percent" style="width: 75%"></div>
            </div>
            <div class="skill-percent-number">
              95%
            </div>
          </div>
          {{!  }}
          <div class="skill">
            <div class="skill-name">
              Mongodb
            </div>
            <div class="skill-level">
              <div class="skill-percent" style="width: 75%"></div>
            </div>
            <div class="skill-percent-number">
              80%
            </div>
          </div>
          {{!  }}
          <div class="skill">
            <div class="skill-name">
              MySQL
            </div>
            <div class="skill-level">
              <div class="skill-percent" style="width: 75%"></div>
            </div>
            <div class="skill-percent-number">
              80%
            </div>
          </div>
          {{!  }}
          <div class="skill">
            <div class="skill-name">
              PostgreSQL
            </div>
            <div class="skill-level">
              <div class="skill-percent" style="width: 75%"></div>
            </div>
            <div class="skill-percent-number">
              65%
            </div>
          </div>
          {{!  }}
          <div class="skill">
            <div class="skill-name">
              PostgreSQL
            </div>
            <div class="skill-level">
              <div class="skill-percent" style="width: 75%"></div>
            </div>
            <div class="skill-percent-number">
              65%
            </div>
          </div>
        
         
      </div>
      <div class="card__tags">
        <ul class="tag">
          <li class="tag__name">
            HTML
          </li>
          <li class="tag__name">
            CSS3
          </li>
          <li class="tag__name">
            JavaScript
          </li>
          <li class="tag__name">
            Reactjs
          </li>
          <li class="tag__name">
            Nodejs
          </li>
          <li class="tag__name">
            PHP
          </li>
          <li class="tag__name">
            Mongodb
          </li>
          <li class="tag__name">
            MySQL
          </li>
          <li class="tag__name">
            PostgreSQL
          </li>
        </ul>
      </div>


      {{!  }}
    </div>
  </div>
</div>